﻿body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 0.8em;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    max-width: 1100px;
    background-color: #F0F0F0;
    padding: 10px 0;
}

.Top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.contact-numbers,
.social-buttons,
.login {
    margin-right: 10px;
}

.search-bar {
    display: inline-block;
    margin: 0 5px;
}

.button {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.row {
    display: flex;
    padding-top: 10px;
}

.column {
    flex: 33.33%;
}

    .column img {
        height: 100px;
    }

nav {
    display: flex;
    justify-content: space-around;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .menu li {
        display: inline-block;
    }

    .menu a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }

.main {
    display: flex;
}

.main1 {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header-text {
    font-weight: bold;
    margin-bottom: 10px;
}

.main1 img {
    width: 100%;
    height: 250px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.summary {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 5px;
}

.main2 {
    flex: 1;
    font-size: 0.8em;
}

.news-list {
    list-style: none; 
    margin: 0; 
    padding: 30px 15px 0px 20px;
}

    .news-list li {
        margin-bottom: 5px; 
    }

    .news-list a {
        text-decoration: none; 
        color: black; 
    }

.extra-section {
    margin-top: 10px; 
    border: 1px solid #ddd; 
    padding: 10px;
    margin: 10px;
}

.subsection1 {
    display: flex; 
    align-items: center;
}

.subsection-title {
    margin-right: 10px; 
}

.subsection-image {
    width: 100px;
    /
}

.subsection2 {
    margin-top: 10px;
}

.subsection-subtitle {
    font-size: 0.8em;
}

.main3 {
    flex: 2;
    padding-top: 10px;
}

.column3-image {
    width: 100%;
    height: 130px;
}

div.vertical-line {
    width: 1px;
    background-color: black;
    height: 100%;
    float: right;
}
