﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>VNEXPRESS</title>
</head>
<body>
    <header>
        <div class="Top-bar">
            <div class="contact-numbers">
                <span>0123.888.0123 (HN) - 0129.233.3555 (TP HCM)</span>
                <button class="button">Liên hệ quảng cáo</button>
            </div>

            <div class="social-buttons">
                <button class="button">Like</button>
                <button class="button">Follow</button>
                <button class="button">YouTube</button>
            </div>

            <div class="login">
                <button class="button">Đăng nhập</button>
                <button class="button">Đăng ký</button>
                <input type="text" class="search-bar" placeholder="Tìm kiếm...">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/Content/Images/Logo_Vnexpress.png" alt="Logo" style="width: 100%">
            </div>
            <div class="column">
                <img src="~/Content/Images/banner-ads-1.png" alt="Ads1" style="width: 100%">
            </div>
            <div class="column">
                <img src="~/Content/Images/banner-ads-2.png" alt="Ads2" style="width: 100%">
            </div>
        </div>
        <nav>
                <ul class="menu">
                    <li><a href="#">Thời sự</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Kinh doanh</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Giải trí</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Thể thao</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Pháp luật</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Giáo dục</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Sức khỏe</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Gia đình</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Du lịch</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Khoa học</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Số hóa</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Xe</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Cộng đồng</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Tâm sự</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Video</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Cười</a><div class="vertical-line" style="height: 15px;"></div></li>
                    <li><a href="#">Rao vặt</a></li>
                </ul>
            </nav>
    </header>

    <main>
        @RenderBody()
    </main>

</body>
</html>
