﻿
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>VNEXPRESS</title>
</head>
<body>
    <form id="form1" runat="server">
        <header> 
            <div class="main">
                <div class="main1">
                    <span class="header-text">Trang nhất</span>
                    <img src="~/Content/Images/thumnails.png" alt="Trump and Clinton Debate">
                    <h3>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên</h3>
                    <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>
                    <p class="summary">Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump</p>
                </div>

                <div class="main2">
                    <ul class="news-list">
                        <li><a href="#">Đài Loan đóng cửa trường học vì bão Megi</a></li>
                        <li><a href="#">Những đứa trẻ sống vắt vẻo trên dầm cầu đã có chốn dung thân</a></li>
                        <li><a href="#">Tại sao các đôi hoàn hảo vẫn ly dị</a></li>
                        <li><a href="#">Ssangyong Korando - Crossover giá một tỷ tại Việt Nam</a></li>
                        <li><a href="#">Lỗ hổng iOS 10 giúp hacker giải mã bản sao lưu dễ dàng</a></li>
                        <li><a href="#">'Thất thủ' trước cơn mưa</a></li>
                        <li><a href="#">Hàng triệu người bất lực trước một cơn mưa, hay còn bởi điều gì khác?</a></li>
                    </ul>
                    <div class="extra-section">
                        <div class="subsection1">
                            <h4 class="subsection-title">'Thất thủ' trước cơn mưa</h4>
                            <img src="https://e0.pxfuel.com/wallpapers/1016/985/desktop-wallpaper-snow-mountain-night-landscape-minimalist-minimalism.jpg" alt="Image 4" class="subsection-image" />
                        </div>
                        <div class="subsection2">
                            <p class="subsection-subtitle">Hàng triệu người bất lực trước một cơn mưa, hay còn điều gì khác?</p>
                        </div>
                    </div>
                </div>
                <div class="main3">
                    <img src="~/Content/Images/right-ads-1.png" alt="Image 1" class="column3-image" />
                    <img src="~/Content/Images/right-ads-2.png" alt="Image 2" class="column3-image" />
                    <img src="~/Content/Images/right-ads-3.png" alt="Image 3" class="column3-image" />
                </div>
        </header>
    </form>
</body>
</html>